node_modules/
*.tgz
coverage/
.tmp-*/
tests/.tmp-*/
npm-debug.log*
my-case.json
my-review.*
tests/.cli-interface-*/
tests/.scan-interface-/

__pycache__/
*.pyc
.venv/
before.joblib
after.joblib
evaluation.csv
attacks.csv
diagnosis*.json
